{% extends '::base.html.twig' %}
{% block headingTitle %} {{ 'contact.label.contact_us'|trans({}, 'CosaContactBundle') }} {% endblock %}
{% block body %}


    <div class="col-xs-12 col-sm-6">
        <h3>{{ 'contact.label.your_contacts'|trans({}, 'CosaContactBundle') }}</h3>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder': 'contact.form.your_name'|trans({}, 'CosaContactBundle') }}) }}
            </div>
            <br class="divider">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'contact.form.your_email'|trans({}, 'CosaContactBundle') }}) }}

            </div>
            <br class="divider">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                {{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder': 'contact.form.phone'|trans({}, 'CosaContactBundle') }}) }}
            </div>

            <h3>{{ 'contact.label.message'|trans({}, 'CosaContactBundle') }}</h3>
            {{ form_widget(form.message, { 'attr': {'class': 'form-control','rows': '10'}}) }}
            <br class="divider">
            {{ form_widget(form.save, {'label': 'contact.form.submit'|trans({}, 'CosaContactBundle')}) }}

        {{ form_end(form) }}
    </div>

    <div class="col-xs-6 col-sm-6" id="sidebar">
        <br class="divider">
        <div class="sidebar-offcanvas jumbotron">
            <h4>{{ 'contact.label.name'|trans({}, 'CosaContactBundle') }}</h4>
            <p>{% autoescape false %}{{ contactInfo.Name}}{% endautoescape %}</p>

            <h4>{{ 'contact.label.email'|trans({}, 'CosaContactBundle') }}</h4>
            <p> {% autoescape false %}{{ contactInfo.Email}}{% endautoescape %}</p>

            <h4>{{ 'contact.label.address'|trans({}, 'CosaContactBundle') }}</h4>
            <p>{% autoescape false %}{{ contactInfo.AddressLine1}}{% endautoescape %}</p>
            <p>{% autoescape false %}{{ contactInfo.AddressLine2}}{% endautoescape %}</p>

            <h4>{{ 'contact.label.information'|trans({}, 'CosaContactBundle') }}</h4>
            <p>{% autoescape false %}{{ contactInfo.information}}{% endautoescape %}</p>

        </div>
    </div>

    {#{{ dump(contactInfo) }}#}


{% endblock %}
