{#

This file is part of the Cosa package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@CosaAdminBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
            <span>{{ admin_pool.title }}</span>
        </a>
    {% endspaceless %}
{% endblock %}

{% block side_bar_after_nav %}
    {% if is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            <li class="treeview">
                <a onclick="javascript:location.href='{{ path('config_homepage') }}'" href="#">
                    <i class="fa fa-wrench"></i><span> Settings</span>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block sonata_top_bar_nav %}
    {{ knp_menu_render('presta_sonata_navigation.menu.main', {'allow_safe_labels' : true}, 'list') }}
{% endblock %}