{% extends '::base.html.twig' %}
{% block body %}

    <div class="page-header">
        <h3>{{ form_label(form.password.first,'user.label.change_password'|trans({}, 'CosaUserBundle')) }}</h3>
    </div>

    <div class="col-xs-12  col-sm-4 col-md-offset-4">
        {{ form_start(form) }}

            {{ form_errors(form) }}
            {{ form_errors(form.currentPassword) }}
            {{ form_errors(form.password.first) }}
            {{ form_errors(form.password.second) }}

            <div class="form-group">
                {{ form_label(form.password.first,'user.label.old_password'|trans({}, 'CosaUserBundle')) }}
                {{ form_widget(form.currentPassword, { 'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password.first,'user.label.new_password'|trans({}, 'CosaUserBundle')) }}
                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password.first,'user.label.new_password_repeat'|trans({}, 'CosaUserBundle')) }}
                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_widget(form.save, {'label': 'user.form.submit'|trans({}, 'CosaUserBundle')}) }}

        {{ form_end(form) }}
    </div>


{% endblock %}
